### Transform

In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np

# Here we open the csv file that was exported at the last step of the Data Extraction Process, and create a dataframe 

file_to_open = "output/data_csv_original.csv"
data_df_1 = pd.read_csv(file_to_open)

In [2]:
# Display the dataframe header
data_df_1.head()

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
0,1987-05-20,18.63,NaN,19.75,NaN,479.950,406.57,NaN,6.54,3.7314,12.59,139.78,NaN
1,1987-05-21,18.45,NaN,19.95,NaN,468.600,408.47,NaN,6.58,3.7314,12.63,140.45,NaN
2,1987-05-22,18.55,NaN,19.68,NaN,473.600,407.40,NaN,6.61,3.7314,12.63,140.60,NaN
3,1987-05-25,18.60,NaN,.,NaN,.,.,NaN,.,.,.,.,NaN
4,1987-05-26,18.63,NaN,19.35,NaN,459.650,411.44,NaN,6.75,3.7314,12.74,143.30,NaN

In [3]:
# Get the number of rows for all the columns in the dataframe
data_df_1.count()

Date                13590
DCOILBRENTEU         8590
DJIA                 2610
DCOILWTICO           8949
DHHNGSP              6081
GOLDAMGBD228NLBM    13585
NASDAQCOM           12841
SP500                2610
WILL5000INDFC       12866
DEXCHUS             10251
DEXINUS             12339
DEXJPUS             12860
DEXUSEU              5555
dtype: int64

In [4]:
# Drop rows that contain N/A in any column
data_df_1 = data_df_1.dropna(how='any')

In [5]:
# Count the rows 
data_df_1.count()

Date                2605
DCOILBRENTEU        2605
DJIA                2605
DCOILWTICO          2605
DHHNGSP             2605
GOLDAMGBD228NLBM    2605
NASDAQCOM           2605
SP500               2605
WILL5000INDFC       2605
DEXCHUS             2605
DEXINUS             2605
DEXJPUS             2605
DEXUSEU             2605
dtype: int64

In [6]:
# Drop the rows containing zeroes
data_df_1 = data_df_1[data_df_1.loc[:]!=0].dropna()

In [7]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DJIA"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DJIA"], inplace=True)

In [8]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DCOILBRENTEU"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DCOILBRENTEU"], inplace=True)

In [9]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DCOILWTICO"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DCOILWTICO"], inplace=True)

In [10]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DHHNGSP"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DHHNGSP"], inplace=True)

In [11]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["GOLDAMGBD228NLBM"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["GOLDAMGBD228NLBM"], inplace=True)

In [12]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["NASDAQCOM"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["NASDAQCOM"], inplace=True)

In [13]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["SP500"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["SP500"], inplace=True)

In [14]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["WILL5000INDFC"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["WILL5000INDFC"], inplace=True)

In [15]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXCHUS"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXCHUS"], inplace=True)

In [16]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXINUS"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXINUS"], inplace=True)

In [17]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXJPUS"], inplace=True)

# Drop the rows containing periods
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXJPUS"], inplace=True)

In [18]:
# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace("", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXUSEU"], inplace=True)

# Drop the rows containing spaces
nan_value = float("NaN")
data_df_1.replace(".", nan_value, inplace=True)
data_df_1.dropna(subset = ["DEXUSEU"], inplace=True)

In [19]:
data_df_1

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
5983,2010-04-26,86.72,11205.03,84.20,4.23,1154.000,2522.95,1212.05,48.77,6.8266,44.3300,94.0600,1.3336
5984,2010-04-27,85.59,10991.99,82.43,4.18,1152.250,2471.47,1183.71,47.62,6.8256,44.4100,93.0100,1.3230
5985,2010-04-28,84.59,11045.27,83.22,4.19,1164.250,2471.73,1191.36,47.88,6.8245,44.5400,94.0700,1.3130
5986,2010-04-29,86.82,11167.32,85.17,4.24,1170.000,2511.92,1206.78,48.55,6.8259,44.6100,94.1600,1.3243
5987,2010-04-30,86.19,11008.61,86.07,3.94,1175.250,2461.19,1186.69,47.70,6.8247,44.2000,94.2400,1.3302
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8581,2020-04-09,20.23,23719.37,22.9,1.74,1662.50,8153.574,2789.82,130.61,7.0428,76.3,108.38,1.0931
8584,2020-04-14,21.74,23949.76,20.15,1.76,1715.85,8515.742,2846.06,133.15,7.0479,76.11,107.08,1.0971
8585,2020-04-15,19.8,23504.35,19.96,1.68,1712.25,8393.176,2783.36,130.16,7.0664,76.56,107.42,1.0909
8586,2020-04-16,18.69,23537.68,19.82,1.59,1717.85,8532.363,2799.55,130.85,7.0778,76.75,107.72,1.084
8587,2020-04-17,19.75,24242.49,18.31,1.71,1693.15,8650.141,2874.56,134.48,7.0711,76.56,107.52,1.0883

In [20]:
# Convert to float
data_df_1["DJIA"] = data_df_1["DJIA"].astype(float)

In [21]:
# Convert to float
data_df_1["DCOILBRENTEU"] = data_df_1["DCOILBRENTEU"].astype(float)

In [22]:
# Convert to float
data_df_1["DCOILWTICO"] = data_df_1["DCOILWTICO"].astype(float)

In [23]:
# Convert to float
data_df_1["DHHNGSP"] = data_df_1["DHHNGSP"].astype(float)

In [24]:
# Convert to float
data_df_1["GOLDAMGBD228NLBM"] = data_df_1["GOLDAMGBD228NLBM"].astype(float)

In [25]:
# Convert to float
data_df_1["NASDAQCOM"] = data_df_1["NASDAQCOM"].astype(float)

In [26]:
# Convert to float
data_df_1["SP500"] = data_df_1["SP500"].astype(float)

In [27]:
# Convert to float
data_df_1["WILL5000INDFC"] = data_df_1["WILL5000INDFC"].astype(float)

In [28]:
# Convert to float
data_df_1["DEXCHUS"] = data_df_1["DEXCHUS"].astype(float)

In [29]:
# Convert to float
data_df_1["DEXINUS"] = data_df_1["DEXINUS"].astype(float)

In [30]:
# Convert to float
data_df_1["DEXJPUS"] = data_df_1["DEXJPUS"].astype(float)

In [31]:
# Convert to float
data_df_1["DEXUSEU"] = data_df_1["DEXUSEU"].astype(float)

In [32]:
# Display the datatypes for all columns
data_df_1.dtypes

Date                 object
DCOILBRENTEU        float64
DJIA                float64
DCOILWTICO          float64
DHHNGSP             float64
GOLDAMGBD228NLBM    float64
NASDAQCOM           float64
SP500               float64
WILL5000INDFC       float64
DEXCHUS             float64
DEXINUS             float64
DEXJPUS             float64
DEXUSEU             float64
dtype: object

In [33]:
# Count the rows for all columns
data_df_1.count()

Date                2434
DCOILBRENTEU        2434
DJIA                2434
DCOILWTICO          2434
DHHNGSP             2434
GOLDAMGBD228NLBM    2434
NASDAQCOM           2434
SP500               2434
WILL5000INDFC       2434
DEXCHUS             2434
DEXINUS             2434
DEXJPUS             2434
DEXUSEU             2434
dtype: int64

In [34]:
# Display the data frame
data_df_1

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
5983,2010-04-26,86.72,11205.03,84.20,4.23,1154.00,2522.950,1212.05,48.77,6.8266,44.33,94.06,1.3336
5984,2010-04-27,85.59,10991.99,82.43,4.18,1152.25,2471.470,1183.71,47.62,6.8256,44.41,93.01,1.3230
5985,2010-04-28,84.59,11045.27,83.22,4.19,1164.25,2471.730,1191.36,47.88,6.8245,44.54,94.07,1.3130
5986,2010-04-29,86.82,11167.32,85.17,4.24,1170.00,2511.920,1206.78,48.55,6.8259,44.61,94.16,1.3243
5987,2010-04-30,86.19,11008.61,86.07,3.94,1175.25,2461.190,1186.69,47.70,6.8247,44.20,94.24,1.3302
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8581,2020-04-09,20.23,23719.37,22.90,1.74,1662.50,8153.574,2789.82,130.61,7.0428,76.30,108.38,1.0931
8584,2020-04-14,21.74,23949.76,20.15,1.76,1715.85,8515.742,2846.06,133.15,7.0479,76.11,107.08,1.0971
8585,2020-04-15,19.80,23504.35,19.96,1.68,1712.25,8393.176,2783.36,130.16,7.0664,76.56,107.42,1.0909
8586,2020-04-16,18.69,23537.68,19.82,1.59,1717.85,8532.363,2799.55,130.85,7.0778,76.75,107.72,1.0840
8587,2020-04-17,19.75,24242.49,18.31,1.71,1693.15,8650.141,2874.56,134.48,7.0711,76.56,107.52,1.0883

In [35]:
data_df_1['Date'] = pd.to_datetime(data_df_1['Date'])

In [36]:
data_df_1

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
5983,2010-04-26,86.72,11205.03,84.20,4.23,1154.00,2522.950,1212.05,48.77,6.8266,44.33,94.06,1.3336
5984,2010-04-27,85.59,10991.99,82.43,4.18,1152.25,2471.470,1183.71,47.62,6.8256,44.41,93.01,1.3230
5985,2010-04-28,84.59,11045.27,83.22,4.19,1164.25,2471.730,1191.36,47.88,6.8245,44.54,94.07,1.3130
5986,2010-04-29,86.82,11167.32,85.17,4.24,1170.00,2511.920,1206.78,48.55,6.8259,44.61,94.16,1.3243
5987,2010-04-30,86.19,11008.61,86.07,3.94,1175.25,2461.190,1186.69,47.70,6.8247,44.20,94.24,1.3302
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8581,2020-04-09,20.23,23719.37,22.90,1.74,1662.50,8153.574,2789.82,130.61,7.0428,76.30,108.38,1.0931
8584,2020-04-14,21.74,23949.76,20.15,1.76,1715.85,8515.742,2846.06,133.15,7.0479,76.11,107.08,1.0971
8585,2020-04-15,19.80,23504.35,19.96,1.68,1712.25,8393.176,2783.36,130.16,7.0664,76.56,107.42,1.0909
8586,2020-04-16,18.69,23537.68,19.82,1.59,1717.85,8532.363,2799.55,130.85,7.0778,76.75,107.72,1.0840
8587,2020-04-17,19.75,24242.49,18.31,1.71,1693.15,8650.141,2874.56,134.48,7.0711,76.56,107.52,1.0883

In [37]:
data_df_1 = data_df_1.set_index('Date')

In [38]:
data_df_1

,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
Date,,,,,,,,,,,,
2010-04-26,86.72,11205.03,84.20,4.23,1154.00,2522.950,1212.05,48.77,6.8266,44.33,94.06,1.3336
2010-04-27,85.59,10991.99,82.43,4.18,1152.25,2471.470,1183.71,47.62,6.8256,44.41,93.01,1.3230
2010-04-28,84.59,11045.27,83.22,4.19,1164.25,2471.730,1191.36,47.88,6.8245,44.54,94.07,1.3130
2010-04-29,86.82,11167.32,85.17,4.24,1170.00,2511.920,1206.78,48.55,6.8259,44.61,94.16,1.3243
2010-04-30,86.19,11008.61,86.07,3.94,1175.25,2461.190,1186.69,47.70,6.8247,44.20,94.24,1.3302
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-09,20.23,23719.37,22.90,1.74,1662.50,8153.574,2789.82,130.61,7.0428,76.30,108.38,1.0931
2020-04-14,21.74,23949.76,20.15,1.76,1715.85,8515.742,2846.06,133.15,7.0479,76.11,107.08,1.0971
2020-04-15,19.80,23504.35,19.96,1.68,1712.25,8393.176,2783.36,130.16,7.0664,76.56,107.42,1.0909
2020-04-16,18.69,23537.68,19.82,1.59,1717.85,8532.363,2799.55,130.85,7.0778,76.75,107.72,1.0840
2020-04-17,19.75,24242.49,18.31,1.71,1693.15,8650.141,2874.56,134.48,7.0711,76.56,107.52,1.0883

In [39]:
## I can resample M to get the date  M for Month - aggregate by month

data_df_2 = data_df_1.resample('M').mean()

In [40]:
data_df_2

,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
Date,,,,,,,,,,,,
2010-04-30,85.982000,11083.644000,84.218000,4.156000,1163.150000,2487.852000,1196.118000,48.104000,6.825460,44.418000,93.908000,1.324820
2010-05-31,75.306316,10465.894737,73.088421,4.154737,1204.321053,2309.791579,1121.000526,45.033158,6.827605,45.837895,91.830526,1.253053
2010-06-30,74.760909,10159.267273,75.335909,4.801364,1232.381818,2235.229545,1083.360909,43.606818,6.818441,46.498295,90.805909,1.222336
2010-07-31,75.580000,10222.242381,76.319524,4.626667,1195.404762,2210.273810,1079.803333,43.462381,6.776233,46.761667,87.500476,1.281057
2010-08-31,77.086667,10366.618571,76.690000,4.340952,1213.464286,2209.343810,1089.109048,43.880000,6.786543,46.440952,85.406190,1.291324
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31,67.115000,28144.286500,59.721500,2.231000,1480.025000,8766.401500,3173.591500,150.126000,7.014615,71.150500,109.072500,1.111425
2020-01-31,63.598571,28879.994286,57.519048,2.018571,1560.735714,9233.359905,3278.202857,155.279048,6.918352,71.279048,109.266667,1.109767
2020-02-29,55.648889,28487.355000,42.738889,1.912222,1601.541667,9413.202222,3274.514444,155.456667,6.996506,71.532778,110.041667,1.090856
2020-03-31,32.470000,22637.420909,23.383182,1.788636,1593.763636,7772.205136,2652.393636,124.537727,7.020450,74.548182,107.667273,1.104591
2020-04-30,20.877273,22830.050000,22.698182,1.686364,1657.409091,8032.488273,2695.679091,125.871818,7.070964,76.255455,108.030000,1.088045

In [41]:
data_df_1.reset_index()

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
0,2010-04-26,86.72,11205.03,84.20,4.23,1154.00,2522.950,1212.05,48.77,6.8266,44.33,94.06,1.3336
1,2010-04-27,85.59,10991.99,82.43,4.18,1152.25,2471.470,1183.71,47.62,6.8256,44.41,93.01,1.3230
2,2010-04-28,84.59,11045.27,83.22,4.19,1164.25,2471.730,1191.36,47.88,6.8245,44.54,94.07,1.3130
3,2010-04-29,86.82,11167.32,85.17,4.24,1170.00,2511.920,1206.78,48.55,6.8259,44.61,94.16,1.3243
4,2010-04-30,86.19,11008.61,86.07,3.94,1175.25,2461.190,1186.69,47.70,6.8247,44.20,94.24,1.3302
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,2020-04-09,20.23,23719.37,22.90,1.74,1662.50,8153.574,2789.82,130.61,7.0428,76.30,108.38,1.0931
2430,2020-04-14,21.74,23949.76,20.15,1.76,1715.85,8515.742,2846.06,133.15,7.0479,76.11,107.08,1.0971
2431,2020-04-15,19.80,23504.35,19.96,1.68,1712.25,8393.176,2783.36,130.16,7.0664,76.56,107.42,1.0909
2432,2020-04-16,18.69,23537.68,19.82,1.59,1717.85,8532.363,2799.55,130.85,7.0778,76.75,107.72,1.0840
2433,2020-04-17,19.75,24242.49,18.31,1.71,1693.15,8650.141,2874.56,134.48,7.0711,76.56,107.52,1.0883

In [42]:
### Rename columns so they are more informative
### This is part of the transform.

data_df_1 = data_df_1.rename(columns={"Date":"recorded_date", "DCOILBRENTEU":"brentcrude", "DJIA":"djia", "DCOILWTICO":"wticrude", "DHHNGSP":"hhnatgas", "GOLDAMGBD228NLBM":"gold", "NASDAQCOM":"nasdaq", "SP500":"sp500", "WILL5000INDFC":"wl500", "DEXCHUS":"chyusd", "DEXINUS":"inrusd", "DEXJPUS":"jpyusd", "DEXUSEU":"eurusd",})

In [43]:
data_df_1

,brentcrude,djia,wticrude,hhnatgas,gold,nasdaq,sp500,wl500,chyusd,inrusd,jpyusd,eurusd
Date,,,,,,,,,,,,
2010-04-26,86.72,11205.03,84.20,4.23,1154.00,2522.950,1212.05,48.77,6.8266,44.33,94.06,1.3336
2010-04-27,85.59,10991.99,82.43,4.18,1152.25,2471.470,1183.71,47.62,6.8256,44.41,93.01,1.3230
2010-04-28,84.59,11045.27,83.22,4.19,1164.25,2471.730,1191.36,47.88,6.8245,44.54,94.07,1.3130
2010-04-29,86.82,11167.32,85.17,4.24,1170.00,2511.920,1206.78,48.55,6.8259,44.61,94.16,1.3243
2010-04-30,86.19,11008.61,86.07,3.94,1175.25,2461.190,1186.69,47.70,6.8247,44.20,94.24,1.3302
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-04-09,20.23,23719.37,22.90,1.74,1662.50,8153.574,2789.82,130.61,7.0428,76.30,108.38,1.0931
2020-04-14,21.74,23949.76,20.15,1.76,1715.85,8515.742,2846.06,133.15,7.0479,76.11,107.08,1.0971
2020-04-15,19.80,23504.35,19.96,1.68,1712.25,8393.176,2783.36,130.16,7.0664,76.56,107.42,1.0909
2020-04-16,18.69,23537.68,19.82,1.59,1717.85,8532.363,2799.55,130.85,7.0778,76.75,107.72,1.0840
2020-04-17,19.75,24242.49,18.31,1.71,1693.15,8650.141,2874.56,134.48,7.0711,76.56,107.52,1.0883

#### This is our final dataset

In [71]:
### This is the final dataset that we should push to the DB
date_df = data_df_1.reset_index()

In [74]:
dates_to_write = date_df.rename(columns={'Date':'date'})
dates_to_write.head()

,date,brentcrude,djia,wticrude,hhnatgas,gold,nasdaq,sp500,wl500,chyusd,inrusd,jpyusd,eurusd
0,2010-04-26,86.72,11205.03,84.20,4.23,1154.00,2522.95,1212.05,48.77,6.8266,44.33,94.06,1.3336
1,2010-04-27,85.59,10991.99,82.43,4.18,1152.25,2471.47,1183.71,47.62,6.8256,44.41,93.01,1.3230
2,2010-04-28,84.59,11045.27,83.22,4.19,1164.25,2471.73,1191.36,47.88,6.8245,44.54,94.07,1.3130
3,2010-04-29,86.82,11167.32,85.17,4.24,1170.00,2511.92,1206.78,48.55,6.8259,44.61,94.16,1.3243
4,2010-04-30,86.19,11008.61,86.07,3.94,1175.25,2461.19,1186.69,47.70,6.8247,44.20,94.24,1.3302

In [75]:
dates_to_write.to_csv("output/all_FRED.csv", index = False)

In [45]:

data_df_2.reset_index()

,Date,DCOILBRENTEU,DJIA,DCOILWTICO,DHHNGSP,GOLDAMGBD228NLBM,NASDAQCOM,SP500,WILL5000INDFC,DEXCHUS,DEXINUS,DEXJPUS,DEXUSEU
0,2010-04-30,85.982000,11083.644000,84.218000,4.156000,1163.150000,2487.852000,1196.118000,48.104000,6.825460,44.418000,93.908000,1.324820
1,2010-05-31,75.306316,10465.894737,73.088421,4.154737,1204.321053,2309.791579,1121.000526,45.033158,6.827605,45.837895,91.830526,1.253053
2,2010-06-30,74.760909,10159.267273,75.335909,4.801364,1232.381818,2235.229545,1083.360909,43.606818,6.818441,46.498295,90.805909,1.222336
3,2010-07-31,75.580000,10222.242381,76.319524,4.626667,1195.404762,2210.273810,1079.803333,43.462381,6.776233,46.761667,87.500476,1.281057
4,2010-08-31,77.086667,10366.618571,76.690000,4.340952,1213.464286,2209.343810,1089.109048,43.880000,6.786543,46.440952,85.406190,1.291324
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,2019-12-31,67.115000,28144.286500,59.721500,2.231000,1480.025000,8766.401500,3173.591500,150.126000,7.014615,71.150500,109.072500,1.111425
117,2020-01-31,63.598571,28879.994286,57.519048,2.018571,1560.735714,9233.359905,3278.202857,155.279048,6.918352,71.279048,109.266667,1.109767
118,2020-02-29,55.648889,28487.355000,42.738889,1.912222,1601.541667,9413.202222,3274.514444,155.456667,6.996506,71.532778,110.041667,1.090856
119,2020-03-31,32.470000,22637.420909,23.383182,1.788636,1593.763636,7772.205136,2652.393636,124.537727,7.020450,74.548182,107.667273,1.104591
120,2020-04-30,20.877273,22830.050000,22.698182,1.686364,1657.409091,8032.488273,2695.679091,125.871818,7.070964,76.255455,108.030000,1.088045

In [46]:
data_df_2 = data_df_2.rename(columns={"Date":"recorded_date", "DCOILBRENTEU":"brentcrude", "DJIA":"djia", "DCOILWTICO":"wticrude", "DHHNGSP":"hhnatgas", "GOLDAMGBD228NLBM":"gold", "NASDAQCOM":"nasdaq", "SP500":"sp500", "WILL5000INDFC":"wl500", "DEXCHUS":"chyusd", "DEXINUS":"inrusd", "DEXJPUS":"jpyusd", "DEXUSEU":"eurusd",})

In [47]:
data_df_2

,brentcrude,djia,wticrude,hhnatgas,gold,nasdaq,sp500,wl500,chyusd,inrusd,jpyusd,eurusd
Date,,,,,,,,,,,,
2010-04-30,85.982000,11083.644000,84.218000,4.156000,1163.150000,2487.852000,1196.118000,48.104000,6.825460,44.418000,93.908000,1.324820
2010-05-31,75.306316,10465.894737,73.088421,4.154737,1204.321053,2309.791579,1121.000526,45.033158,6.827605,45.837895,91.830526,1.253053
2010-06-30,74.760909,10159.267273,75.335909,4.801364,1232.381818,2235.229545,1083.360909,43.606818,6.818441,46.498295,90.805909,1.222336
2010-07-31,75.580000,10222.242381,76.319524,4.626667,1195.404762,2210.273810,1079.803333,43.462381,6.776233,46.761667,87.500476,1.281057
2010-08-31,77.086667,10366.618571,76.690000,4.340952,1213.464286,2209.343810,1089.109048,43.880000,6.786543,46.440952,85.406190,1.291324
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31,67.115000,28144.286500,59.721500,2.231000,1480.025000,8766.401500,3173.591500,150.126000,7.014615,71.150500,109.072500,1.111425
2020-01-31,63.598571,28879.994286,57.519048,2.018571,1560.735714,9233.359905,3278.202857,155.279048,6.918352,71.279048,109.266667,1.109767
2020-02-29,55.648889,28487.355000,42.738889,1.912222,1601.541667,9413.202222,3274.514444,155.456667,6.996506,71.532778,110.041667,1.090856
2020-03-31,32.470000,22637.420909,23.383182,1.788636,1593.763636,7772.205136,2652.393636,124.537727,7.020450,74.548182,107.667273,1.104591
2020-04-30,20.877273,22830.050000,22.698182,1.686364,1657.409091,8032.488273,2695.679091,125.871818,7.070964,76.255455,108.030000,1.088045

### Final Monthly Average data

In [61]:
### This is our aggreatate table that will go to the DB 
dates_df_2 = data_df_2.reset_index()

In [67]:
dates_df_3 = dates_df_2.rename(columns={'Date':'date'})
dates_df_3.head()

,date,brentcrude,djia,wticrude,hhnatgas,gold,nasdaq,sp500,wl500,chyusd,inrusd,jpyusd,eurusd
0,2010-04-30,85.982000,11083.644000,84.218000,4.156000,1163.150000,2487.852000,1196.118000,48.104000,6.825460,44.418000,93.908000,1.324820
1,2010-05-31,75.306316,10465.894737,73.088421,4.154737,1204.321053,2309.791579,1121.000526,45.033158,6.827605,45.837895,91.830526,1.253053
2,2010-06-30,74.760909,10159.267273,75.335909,4.801364,1232.381818,2235.229545,1083.360909,43.606818,6.818441,46.498295,90.805909,1.222336
3,2010-07-31,75.580000,10222.242381,76.319524,4.626667,1195.404762,2210.273810,1079.803333,43.462381,6.776233,46.761667,87.500476,1.281057
4,2010-08-31,77.086667,10366.618571,76.690000,4.340952,1213.464286,2209.343810,1089.109048,43.880000,6.786543,46.440952,85.406190,1.291324

In [68]:
dates_df_3.to_csv("output/dates_FRED.csv", index = False)

### End of notebook